<h4>Existing Questions:</h4>
  <% if survey.questions.empty? %>
<p>There are no questions yet!</p>
<% else %>
  <% survey.questions.each_with_index do |q, idx| %>
    <% next if q.text.nil? %>
   <h5><%= "#{idx+1}. #{q.text}" %></h5>
   <%= link_to "delete", survey_question_path(survey.id, q.id),  method: :delete, data: { confirm: "Are you sure?" }%></td>
    <ul>
    <% q.options.each do |option| %>
      <li><%= option.text %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
